<div class="cell-inner" data-cell="<%= @cell %>" >
  <div class="cell-bg" style="<%= cell_color(@bfs, @cell) %>" </div>
  <div class="cell-id"><%= @cell %></div>
  <span class="cell-info">
    <%= cell_content(@maze, @cell, @dfs, @bfs) %>
  <span>
    <a class="cell-anchor"> </a>
</div>
