<table class="base-layer">
<%= if @maze do %>
  <%= for row <- rows(@maze.graph) do %>
    <tr>
    <%= for c <- row do %>
      <td class="<%= classes_for_cell(@maze, c) %>" >
        <div class="cell-inner ">
          <%= #if @dfs do @dfs[c] else c  end %>
          <%= c %>
        </div>
      </td>
    <%= end %>
    </tr>
  <%= end%>
<%= end %>
</table>
